Manifest.toml

resources/*
!resources/README.md

results/*
!results/README.md

workflow/cylc-run/*
workflow/report/*
!workflow/report/README.md

test/__temp__

icetest.sh
trackplayground.jl

.DS_Store
.vscode/

*.simg

.JuliaFormatter.toml

test/test_inputs/input_pipeline/*.jls

.spacerc
example_data/