Manifest.toml
!IFTPipeline.jl/Manifest.toml

resources/*
!resources/README.md

results/*
!results/README.md

workflow/cylc-run/*
workflow/report/*
!workflow/report/README.md

icetest.sh
trackplayground.jl

.DS_Store
.vscode/

*.simg

runtime/
